<!-- {{ usersList }} -->

			<div class="planes-list">
				<div class="plane-item col-lg-4 col-md-6" ng-repeat="plane in planesList track by $index">
					 <h4><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>Plane.{{$index}}</h4>
					<div class="plane-background">

						<img src="http://placehold.it/100x100" alt="">

						<div class="context" ng-bind="plane.destination"></div>
						<div class="context" ng-model="plane.date" ng-bind="plane.date | date:'yyyy-MM-dd'" ></div>

						<div class="contact-controls">
							<button class="btn btn-success" ng-click="editPla({id:plane.id})">Edit</button>			
							<button class="btn btn-warning" ng-click="deletePla({id:plane.id})">Delete</button>	

						</div>

					</div>
				</div>					

			</div>