<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>// Angul-Air</title>

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/ngDatepicker.css">
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body ng-app="planeApp"  ng-controller="planeController">
	
	<!-- data-modal-confirm = nom de la directive ( - pour les camelCase ) -->
<!-- 	<div data-modal-confirm data-confirm="confirm()" ng-hide="modalOpen" data-response="modalOpen" param="notification">
	</div>	 -->

<!-- 	<div data-modal-confirm data-confirm="confirm()" ng-hide="modalOpen" data-response="modalOpen" param="modalOptions">
	</div> -->
	
	<!-- <modal-confirm person="person"></modal-confirm> -->

	<div class="container">

	<!-- <span class="pull-right" ng-bind="resultModale"></span>			 -->
	<!-- <button type="text" class="btn btn-info pull-right clearfix" ng-click="modalClose=0">open</button>	 -->


	<h1 ><a href="index.html" class="title">// Angul-Air</a></h1>
	
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home">Add Plane</a></li>
	  <li><a data-toggle="tab" href="#menu1">Add Customer</a></li>
	  <li><a data-toggle="tab" href="#menu2">View Trips</a></li>
	  <li><a data-toggle="tab" href="#menu3">Export Datas</a></li>
	</ul>




<div class="controller" >
	<div class="tab-content">


		<div id="home" class="tab-pane fade in active">



			<!-- //////////////////////////////////////////////////

				Plane Add

			-->

			<div class="plane-entry">
				
				<form novalidate name="planeentry" ng-submit="addPlane()" class="f">

				  <div class="row row1">
				  <div class="col-lg-6 form-group">
				    <label for="">Destination</label>
				    <input type="text" ng-autocomplete options="optionsCities" ng-model="plane.destination" ng-class="ng-untouched" class="form-control" id="" placeholder="London, Marseille, ...">
				  </div>
				  <div class="col-lg-6 form-group">
				    <label for="">Date</label>
				    <ng-datepicker type="date" ng-model="plane.date" class="form-control" id="" placeholder="" view-format="YYYY-MM-DD">
				    </ng-datepicker>
				  </div>			  
				  </div>			  

		  		<button type="submit" class="btn btn-success" ng-show="!isEdit">Add plane</button>

		  		<button type="text" class="btn btn-info ng-hide" ng-show="isEdit" ng-click="updatePlane(plane.id)">Edit Plane</button>
		  		<button type="text" class="btn btn-info ng-hide" ng-show="isEdit" ng-click="cancelEdit()">Cancel</button>
				
				<div ng-bind="msg"></div>

				<div class="context" ng-bind="plane.index"></div>

				</form>


			</div>

			<!-- PLANE directive -->
			<div data-plane-list data-planes-list="planes"  data-edit-pla="editPlane(id)" data-delete-pla="deletePlane(id)"></div>


		</div>

	  	<div id="menu1" class="tab-pane fade">

			<!-- //////////////////////////////////////////////////

				Customer Add

			-->


				<!-- <div ng-controller="customerController"> -->
				<div class="customer-entry">
					
					<form novalidate name="customerentry" ng-submit="addCustomer()" class="f">

					  <div class="row row1">
					  	<div class="col-lg-6 form-group">
					    <label for="">Name</label>
					    <input type="text" ng-model="customer.name" ng-class="ng-untouched" class="form-control" id="" placeholder="Jane Doe">
					  </div>
					  <div class="col-lg-6 form-group">
					    <label for="">Card Id</label>
					    <input type="number" required ngMinlength="5" ngMaxlength="10" ng-model="customer.cardId" class="form-control" id="" placeholder="00 000">
					  </div>			  
					  </div>			  

			  		<button type="text" class="btn btn-success" ng-show="!isEdit">Add Customer</button>

			  		<button type="text" class="btn btn-info ng-hide" ng-show="isEdit" ng-click="updateCustomer(customer.id)">Edit Customer</button>
			  		<button type="text" class="btn btn-info ng-hide" ng-show="isEdit" ng-click="cancelEdit()">Cancel</button>
					
					<div ng-bind="msg"></div>

					<div class="context" ng-bind="customer.index"></div>

					</form>

				</div>

				<!-- CUSTOMER directive -->
				<div data-customer-list data-customers-list="customers" data-edit-cust="editCustomer(id)" data-delete-cust="deleteCustomer(id)"></div>

		</div>

		<div id="menu2" class="tab-pane fade">

			<!-- //////////////////////////////////////////////////

				Trip Add

			-->

			<!-- TRIP directive -->
			<div data-trip-list data-trips-list="planes" data-customers="customers" data-set-edit-tri="setEditTrip(id)" ></div>


		</div>


		<div id="menu3" class="tab-pane fade">
		
			<button class="btn btn-warning" ng-click="exportData()">Export All</button>	
			<div class="exportpad"></div>

		</div>


	</div>


	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Add Customer for : <b>{{planes[editPlane].destination}}</b></h4>
	      </div>
	      <div class="modal-body">
	        <!-- <p>{{editPlane}}</p> -->

			<div class="">
		      <label for="sel2">Select your customers :</label>

				<select class="form-control" id="sel2" multiple="true" size="10" ng-options="customer.name for customer in customers track by customer.id" ng-model="usersAdded"></select>

			</div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" ng-click="editTripFunc(editTrip)" data-dismiss="modal">Add</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>



</div>


	<!-- [ start ] Modal Directive -->
	<div class="row" >
		<div class="col-lg-12">
			<p ng-init="tabArray = [ 1,2,3,4,5,6 ]"></p>

			<!-- <button ng-repeat="number in tabArray" ng-click="$parent.modalClose=0; $parent.idx=$index">Del {{ number }}</button> -->
			<div ng-repeat="number in tabArray" >
				<button data-modal-confirm data-modal-action="$parent.deleteUser($index)" data-modal-open="$parent.modalOpen" data-param="Voulez vous supprimer ?" data-idx="$index">
				Del user {{ number }}
				</button>
			</div>			

		</div>
	</div>
	<!-- [ end ] Modal Directive -->


	<footer>	
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
		<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyBshoiD_-SIe4m0R6n5-pAx9bdz3UZjUCU"></script> -->
		<script src="assets/js/core/app.js"></script>
		<script src="assets/js/core/service/angulairFactory.js"></script>
		<script src="assets/js/controller/plane-controller.js"></script>
		<script src="assets/js/core/directive/modal-confirm.js"></script>
		<script src="assets/js/core/directive/userlist-directive.js"></script>
		<script src="assets/js/core/directive/planelist-directive.js"></script>
		<script src="assets/js/core/directive/triplist-directive.js"></script>
		<script src="assets/js/ngAutocomplete.js"></script>
		<script src="assets/js/moment.js"></script>
		<script src="assets/js/ngDatepicker.min.js"></script>
	</footer>

</div>

</body>
</html>