*{
	padding: 0;
	margin: 0;
}

body{
	font-family: "Raleway";
	font-size: 20px; 
	background-image: url("../img/bck.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

h1 a{
	font-weight: bold;
	font-size: 1.5em;
	color: black;
}

h1 a:hover, h1 a .title:hover{
	text-decoration: none !important;
}

.tab-pane{
	padding: 5px;
	background-color: #eee;
}

.plane-background:hover, .customer-background:hover{
	opacity: 1;
}

.plane-background, .customer-background{

	background-color: white;
    padding: 30px;
    opacity: 1;
}

.customer-item img, .plane-item img{
	float: left;
	padding: 5px;

}

.nav, .tab-content{
	background-color: white;
}

.tab-content{
	opacity: 0.8;
}

.ng-datepicker-input{
	width: 100%;
    border: 0px;
}

.exportpad{
	min-height: 200px;
	margin-top: 50px;
	border: 1px dashed black;
}


.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.modale-hide{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	z-index: 10;
	opacity: 0.5;
	/*display: none;*/
}

.modale{
	position: fixed;
	min-width: 40%;
	min-height: 150px;
	margin: 15% 20%;
	z-index: 15;
	background-color: white;
	padding: 10px;
	/*display: none;*/
}
